.projects-container {
  height: 100vh;
  position: relative;
}

.projects-container h1 {
  position: absolute;
  left: 7%;
  bottom: 0;
  font-size: 4rem;
  font-weight: 450;
  font-style: italic;
}

.titles-container {
  position: absolute;
  top: 12%;
  left: 72%;
}

.display-container {
  /* width: 63rem;
  height: 40rem; */
  width: 60%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 5%;
}