.welcome-container {
  height: 100vh;
}
.canvas-container {
  width: 25rem;
  height: 30rem;
  position: absolute;
  right: 10%;
  top: 20%;
  /* background-color: #C5D098; */
}
.text {
  position: absolute;
  left: 18%;
  top: 40%;
}
.welcome-container h1 {
  font-weight: 450;
  font-size: 2.5rem;
  font-style: italic;
}