.page-one {
  height: 100vh;
}
.canvas-container {
  width: 25rem;
  height: 30rem;
  position: absolute;
  right: 10%;
  top: 20%;
  /* background-color: #C5D098; */
}
.text {
  position: absolute;
  left: 18%;
  top: 40%;
}
.page-one h1 {
  font-weight: 450;
  font-size: 2.5rem;
  font-style: italic;
}
.page-two {
  height: 100vh;
  position: relative;
}
.page-two h1 {
  position: absolute;
  left: 7%;
  top: 5%;
  font-size: 3.1rem;
  font-weight: 450;
  font-style: italic;
}
.solar-img {
  width: 48%;
  height: auto;
  position: absolute;
  top: 33%;
  left: 7%;
}
.page-two h2 {
  position: absolute;
  left: 60%;
  top: 53%;
  font-size: 1.5rem;
  font-weight: 430;
}
.page-two h2{
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #007bff;
  }
}
.page-two p {
  position: absolute;
  left: 60%;
  top: 59%;
  margin-right: 6%;
  line-height: 150%;
  font-size: 0.9rem;
}
.page-two p {
  a {
    color: #007bff;
  }
}