.page-one {
  height: 100vh;
}
.canvas-container {
  width: 30rem;
  height: 30rem;
  position: absolute;
  right: 10%;
  top: 20%;

}
.text {
  position: absolute;
  left: 18%;
  top: 40%;
}
.page-one h1 {
  font-weight: 450;
  font-size: 2.5rem;
  font-style: italic;
}
.page-two {
  height: 100vh;
  position: relative;
}
.page-two h1 {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 3.1rem;
  font-weight: 450;
  font-style: italic;
}